<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" integrity="sha512-2bMhOkE/ACz21dJT8zBOMgMecNxx0d37NND803ExktKiKdSzdwn+L7i9fdccw/3V06gM/DBWKbYmQvKMdAA9Nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        {% if login %}
        <script src="static/js/login.js"></script>
        {% else %}
        <script src="static/js/nologin.js"></script>
        {% endif %}
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/logout">
                <img src="static/images/logo-no-background.png" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/staff">
                  Home
                </a>
              
              {% if loggedin %}
              <a class="navbar-item" href="/managekeys">
                Manage Keys
              </a>
              <a class="navbar-item" href="/manageorders">
                Manage Orders
              </a>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  {{name}} {{surname}}
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/log">
                    Audit Log
                  </a>
                  <a class="navbar-item" id="signup">
                    Add User
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" href="/logout">
                    Sign Out
                  </a>
                </div>
              </div>
            </div>
              {% else %}
            </div>
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-light" id="login">
                      Log in
                    </a>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
        </nav>
        <h1 class="title has-text-centered">License Store Management Console</h1>
        <p class="text has-text-centered">This page is for License Store Staff, if you're here by mistake you can click <a href="/">this link</a> to go back </a></p>
        <div class="modal" id="loginform">
        <div class="modal-background"></div>
        <div class="modal-content">
            <br><br>
            <div class="card">
                <div class="card-header">
                <p class="card-header-title has-text-centered">Sign into License Store!</p>
                </div>
                <div class="card-content">
                {% if newUser %}
                    <div class="notification is-success">
                    Success! New user created, please sign in below.
                    </div>
                {% endif %}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}</a>.
                    </div>
                {% endif %}
                {% endwith %}
                <form action="/stafflogin" method="post">
                    <div class="content">
                    
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                        <input class="input" name="email" type="email" required placeholder="Email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        </div>
                    </div>
                    </div>
        
                    <div class="field">
                    <label class="label">Password</label>
                    <p class="control has-icons-left">
                        <input class="input" name="password" type="password" required placeholder="Password">
                        <span class="icon is-small is-left">
                        <i class="fa-solid fa-lock"></i>
                        </span>
                    </p>
                    </div>
        
                    <div class="field">
                    <p class="control">
                        <button class="button is-success" type="submit">
                        Login
                        </button>
                    </p>
                    </div>
                </form>
                </div>
            </div>
            
        </div>
        <button class="modal-close is-large" aria-label="close" id="closelogin"></button>
        </div>
        <div class="modal" id="signupform">
        <div class="modal-background"></div>
        <div class="modal-content">
            <br><br>
            <div class="card">
                <div class="card-header">
                <p class="card-header-title has-text-centered">Create an Account</p>
                </div>
                <div class="card-content">
                <form action="/addstaff" method="post">
                    
        
                    <div class="field">
                    <label class="label">First Name</label>
                    <p class="control">
                        <input class="input" name="firstname" type="text" required placeholder="John">
                    </p>
                    </div>
        
                    <div class="field">
                    <label class="label">Last Name</label>
                    <p class="control">
                        <input class="input" name="lastname" type="text" required placeholder="Doe">
                    </p>
                    </div>
        
                    <div class="content">
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                        <input class="input" name="email" type="email" required placeholder="Email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        </div>
                    </div>
                    </div>
        
                    <div class="field">
                    <label class="label">Password</label>
                    <p class="control has-icons-left">
                        <input class="input" name="password" type="password" required placeholder="Password">
                        <span class="icon is-small is-left">
                        <i class="fa-solid fa-lock"></i>
                        </span>
                    </p>
                    </div>
                    
        
                    <div class="field">
                    <p class="control">
                        <button class="button is-success" type="submit">
                        Sign Up
                        </button>
                    </p>
                    </div>
                </form>
                </div>
            </div>
            
        </div>
        <button class="modal-close is-large" aria-label="close" id="closesignup"></button>
        </div>
    </body>
</html>