<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" integrity="sha512-2bMhOkE/ACz21dJT8zBOMgMecNxx0d37NND803ExktKiKdSzdwn+L7i9fdccw/3V06gM/DBWKbYmQvKMdAA9Nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        {% if login %}
        <script src="static/js/login.js"></script>
        {% else %}
        <script src="static/js/nologin.js"></script>
        {% endif %}
        <title>License Manager</title>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="static/images/logo-no-background.png" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/">
                  Home
                </a>
          
                <a class="navbar-item" href="/store">
                  License Store
                </a>
              
              {% if loggedin %}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  {{name}} {{surname}}
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/keys">
                    My Keys
                  </a>
                  <a class="navbar-item" href="/user_orders">
                    Orders
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" href="/logout">
                    Sign Out
                  </a>
                </div>
              </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" id="shoppingcartButton">
                            <span class="icon is-small">
                                <i class="fa fa-solid fa-cart-shopping"></i>
                            </span>
                            <span>Cart</span>
                        </a>
                    </div>
                </div>
              </div>
              {% else %}
              
            </div>
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary" id="signup">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" id="login">
                      Log in
                    </a>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </nav>
        <h1 class="title has-text-centered">Shop For Licenses</h1>
        <div class="columns is-multiline is-centered">    
            {% for line in packages %}
                <div class="column is-5">
                    <div class="card" style="height: 100%;">
                        <div class="card-header has-text-centered">
                            <p class="card-header-title has-text-centered">{{line['name']}}</p>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <ul>
                                    {% for item in features %}
                                        {% if item['ID'] == line['ID'] %}
                                            {% for elem in item['feature'] %}
                                                <li>{{elem}}</li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <p class="card-content is-size-3 has-text-weight-bold has-text-link"> 
                                    ${{line['cost']}} / {{line['period'][0]}}
                                    {% if line['period'][1] == 'm' %}
                                        {% if line['period'][0] == '1' %}
                                            Month
                                        {% else %}
                                            Months
                                        {% endif %}
                                    {% elif line['period'][1] == 'y' %}
                                        Year
                                    {% elif line['period'][1] == 't' %}
                                        Time Purchase
                                    {% endif %}
                                </p>
                                
                        
                            </div>
                            <div class="buttons">
                                <a class="button is-primary" href="/order?id={{line['ID']}}" style="width: 60%; position: absolute; bottom: 0;">
                                    <strong>Add to Cart</strong>
                                  </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="buttons is-centered">
            {% if currentpage > 0 %}
            <a class="button is-primary" href="/store?page={{currentpage-1}}">
                <strong>Previous Page</strong>
            </a>
            {% else %}
            <a class="button is-light">
                Previous Page
            </a>
            {% endif %}
            <p class="is-primary"> <strong>Page: {{currentpage+1}}</strong></p>
            {% if currentpage < pageCount-1 %}
            <a class="button is-primary" href="/store?page={{currentpage+1}}">
                <strong>Next Page</strong>
            </a>
            {% else %}
            <a class="button is-light">
                Next Page
            </a>
            {% endif %}
        </div>
        

        <div class="modal" id="shoppingcart">
            <div class="modal-background"></div>
            <div class="modal-content">
              <br><br>
                <div class="card">
                  <div class="card-header">
                    <p class="card-header-title has-text-centered">{{name}}'s Cart</p>
                  </div>
                  <div class="card-content">
                        {% for item in cart %}
                        <div class="columns">
                            <div class="column is-7">
                                {{item.name}}
                            </div>
                            <div class="column is-3">
                                {{item.cost}}
                            </div>
                            <div class="column is-2">
                                <a class="button is-rounded is-light" href="/removefromcart?id={{item.ID}}">
                                    <span class="icon">
                                        <i class="fa fa-solid fa-x"></i>
                                    </span>
                                </a>
                                    
                                
                            </div>

                        </div>
                        {% endfor %}
                        <hr>
                        <div class="columns">
                            <div class="column">
                                Today You Pay:
                            </div>
                            <div class="column">
                                $<strong>{{total}}</strong>
                            </div>
                        </div>
                    <a class="button is-primary" href="/placeorder?cart={{cart}}" style="width: 100%">
                        <strong>Finalize Order</strong>
                    </a>
                    
                    
                  </div>
                </div>
              
            </div>
            <button class="modal-close is-large" aria-label="close" id="shoppingcartclose"></button>
          </div>

        <div class="modal" id="loginform">
            <div class="modal-background"></div>
            <div class="modal-content">
              <br><br>
                <div class="card">
                  <div class="card-header">
                    <p class="card-header-title has-text-centered">Sign into License Store!</p>
                  </div>
                  <div class="card-content">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger">
                            {{ messages[0] }}</a>.
                        </div>
                    {% endif %}
                    {% endwith %}
                    <form action="/login" method="post">
                      <div class="content">
                        
                        <div class="field">
                          <label class="label">Email</label>
                          <div class="control has-icons-left has-icons-right">
                            <input class="input" name="email" type="email" required placeholder="Email">
                            <span class="icon is-small is-left">
                              <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                              <i class="fas fa-exclamation-triangle"></i>
                            </span>
                          </div>
                        </div>
                      </div>
          
                      <div class="field">
                        <label class="label">Password</label>
                        <p class="control has-icons-left">
                          <input class="input" name="password" type="password" required placeholder="Password">
                          <span class="icon is-small is-left">
                            <i class="fa-solid fa-lock"></i>
                          </span>
                        </p>
                      </div>
          
                      <div class="field">
                        <p class="control">
                          <button class="button is-success" type="submit">
                            Login
                          </button>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              
            </div>
            <button class="modal-close is-large" aria-label="close" id="closelogin"></button>
          </div>
          
          <div class="modal" id="signupform">
            <div class="modal-background"></div>
            <div class="modal-content">
              <br><br>
                <div class="card">
                  <div class="card-header">
                    <p class="card-header-title has-text-centered">Create an Account</p>
                  </div>
                  <div class="card-content">
                    <form action="/signup" method="post">
                      
          
                      <div class="field">
                        <label class="label">First Name</label>
                        <p class="control">
                          <input class="input" name="firstname" type="text" required placeholder="John">
                        </p>
                      </div>
          
                      <div class="field">
                        <label class="label">Last Name</label>
                        <p class="control">
                          <input class="input" name="lastname" type="text" required placeholder="Doe">
                        </p>
                      </div>
          
                      <div class="content">
                        <div class="field">
                          <label class="label">Email</label>
                          <div class="control has-icons-left has-icons-right">
                            <input class="input" name="email" type="email" required placeholder="Email">
                            <span class="icon is-small is-left">
                              <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                              <i class="fas fa-exclamation-triangle"></i>
                            </span>
                          </div>
                        </div>
                      </div>
          
                      <div class="field">
                        <label class="label">Password</label>
                        <p class="control has-icons-left">
                          <input class="input" name="password" type="password" required placeholder="Password">
                          <span class="icon is-small is-left">
                            <i class="fa-solid fa-lock"></i>
                          </span>
                        </p>
                      </div>
                      
          
                      <div class="field">
                        <p class="control">
                          <button class="button is-success" type="submit">
                            Sign Up
                          </button>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              
            </div>
            <button class="modal-close is-large" aria-label="close" id="closesignup"></button>
          </div>
    <script src="static/js/shoppingcart.js"></script>
    {% if showcart %}
        <script>
            $('#shoppingcart').show()
        </script>
    {% endif %}
    </body>
</html>